<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>真北斎君</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="icon" href="static/img/icon1.ico" />
  </head>
  <body background="static/img/back1.png">
    <header id="header">　
      <div class="boxA">
        <div class="logo">
          <a href="hokusai.html"><img src="static/img/icon1.png" alt="page_logo" class="icon"></a>
          <a href="hokusai.html"><img src="static/img/logo1.png" alt="page_logo" class="logo-size"></a>
        </div>
        <nav>
          <ul class="global-nav">
            <li><a class="a1" href="#pagec">ぺーじ概要</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="su">
      <img src="static/img/logo2.png" class="title-size"></img>
      <div class="back1">
        <div id="pagec">
          <h2 class="p1">ぺーじ概要</h2>
          <p class="c1">風景写真を北斎風の絵画に変換するウェブアプリケーションです。旅先などで撮影した風景写真を思い出に残したい方、自分だけの絵画が欲しい方のために開発をしました。</p>
        </div>
        <div>
          <h2 class="p1">使い方</h2>
          <p class="c1">絵画にしたい写真を選んで変換ボタンを押すだけ！こんな感じの絵ができるよ</p>
          <img src="static/img/example1.png" class="example-size"><img>
        </div>
        <!-- 風景写真を北斎風の絵画に変換するウェブアプリケーションです。旅先などで撮影した風景写真を思い出に残したい方、自分だけの絵画が欲しい方のために開発をしました。アップロードした画像を北斎風の絵画に変換します。-->
      </div>
      <div style="margin-left:150px;">
        <form action = "http://localhost:5000" method = "POST"
          enctype = "multipart/form-data">
          <label class="btn-flat-dashed-filled">
            変換する画像
            <input type="file" name="file" id="example" onchange="previewImage(this);">
          </label>
          <input type="submit" value="変換する" class="btn-send" style="margin-left:200px;">
        </form>

        <br>
        <!-- ここにプレビュー画像を追加する -->
        <div style="display:flex;">
          <div style="width:520px;margin-right:10px;">
            <p  style="font-size: 30px;padding-left:200px;  padding-right:200px; background: linear-gradient(transparent 85%, #767171 20%);">変換前</p>
            <img id="preview" src={{before_image}}>
          </div>
          <div style="width:520px;">
            <p style="font-size: 30px; padding-left:200px;  padding-right:200px; background: linear-gradient(transparent 85%, #767171 20%);">変換後</p>
            <img id="hokusai" src={{chenge_image}}>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <small class="copy">(C)宇宙戦艦たむ</small>
    </footer>
  </body>
</html>




